.navbar {
  background-color: #f0f0f0;
}

.navbar-brand {
  color: black !important;
}

.navbar-toggler {
  border: 3px solid black !important;
}

.nav-link {
  color: black !important;
}

aside {
  background-color: aqua;
}

article {
  background-color: blue;
}

footer {
  background-color: #f0f0f0;
  height: 40px;
}

/* @media only screen and (min-width:0) and (max-width:576px) {

} */
